h1 
    {
        color:rgb(7, 7, 48);
        text-align:center;
        padding:20px;
        width:100%;
        position:absolute;
        left:0px;
        top:0px;
        background-color:rgb(110, 111, 126);
        border: 2px solid black;
    }

body
    {
        background-color:rgb(123, 172, 161);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.navButton
    {
        position: relative;
        width:180px;
        height:100px;
        background-color:rgb(218, 223, 199);
        margin-left: 20px;
        margin-top: 20px;
        display:inline-block;
        text-align:center;
        font-size: 25px;
        border-radius: 5%;
        border: 2px solid black;
        cursor:pointer;
    }

.navButton:hover
    {
        transition:1s;
        background-color: rgb(96, 184, 88);
    }

.navButtonContainer
    {
        position:static;
        display:block;
        width:640px;
        height:140px;
        background-color:rgb(32, 93, 117);
        margin-left:calc(50vw - 320px);
        margin-top:100px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
    }

.contentContainer 
    {
        width:600px;
        height:200px;
        background-color:rgb(32, 93, 117);
        margin-left:calc(50vw - 300px);
        margin-top:-20px;
        display:none;
        text-align:center;
    }

.contentContainer button 
    {
        width:70px;
        height:35px;
        border-radius:15%;
        background-color:rgb(0, 255, 157);
    }

.laptopsInformation {
    font-size:10px;
    text-align:left;
}

#laptopsExtendedInformation {
    padding-bottom:30px;
}

.laptopsExtendedInformation, img {
    width:20%; 
    height:auto;   
}

.payWorkBackLoanButton {
    display:none;
}

.payLoanButton {
    display:none;
}